.dashed_line_wrap{
    border-bottom: 2px dashed gray;
}

.sub_header_wrap .futuring_nav_wrap
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 20px;
    max-width: 1113px;
    margin: 0 auto;
}

.sub_header_wrap  .futuring_middle_wrap 
{
    display: flex;
    font-weight: 200;
    
}

.sub_header_wrap  .futuring_middle_wrap  > li > a
{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #222222;
}

.sub_header_wrap  .futuring_middle_wrap > li:not(:first-child){
    padding-left: 40px;
}


.sub_header_wrap .futuring_login_wrap 
{
    display: flex;
    align-items: center;
}

.sub_header_wrap .futuring_login_wrap li > a
{
    font-weight: 200;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #222222;
}

.futuring_login_wrap button{
    margin-left: 21px;
    height: 40px;
    width: 142px;
    border-radius: 100px;
    background: #004759;
    font-weight: 200;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}



/*body*/

.sub_onestep_wrap {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 120px;
    max-width: 1200px;
}

.left_onestep {
    display: flex;
    flex-direction: column;
}

.left_onestep > h1 {
    margin-bottom: 160px;
    font-weight: 300;
    font-size: 56px;
    line-height: 84px;
    color: #222222;
}

.left_onestep h1>span:first-child{
    font-weight: 500;
    font-size: 56px;
    line-height: 84px;
    color: #222222;
}

.left_onestep h1>span:last-child{
    font-weight: 500;
    font-size: 56px;
    line-height: 84px;
    color: #222222;
}

.left_nav_onestep {
    display: flex;
}

.left_nav_onestep .active {
    position: relative;
}

.left_nav_onestep .active > a{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #004759;
}

.left_nav_onestep li {
    padding-bottom: 20px;
}

.left_nav_onestep li:not(:first-child) {
    margin-left: 88px;
}

.left_nav_onestep > .active > a::before{
    content: "";
    position: absolute;
    display: block;
    transform: translateX(-50%);
    width: 78px;
    height: 0px;
    left: 50%;
    bottom: 0;
    border-bottom: 1px solid #004759;
}

.left_nav_onestep > .active > a::after{
    display: block;
    content: "";
    position: absolute;
    border-radius: 100%;
    top : -10px;
    right: -8px;
    width: 10px;
    height: 10px;
    background: #004759;
}

.right_onestep {
    display: flex;
    margin-left: 141px;
    flex-direction: column;
    justify-content: flex-end;
}

.silver_one_step {
    border : 1px solid #F0F0F0;;
}

.sub_one_main_wrap {
    display: flex;
    flex-direction: column;
    max-width: 1032px;
    margin: 0 auto;
}

.sub_needquestion_box{
    display: flex;
    flex-direction: column;
}

.sub_one_main_wrap .sub_one_title{
    margin-top: 49px;
    margin-bottom: 120px;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #222222; 
}


.sub_needquestion_box .question_togeher {
    display: flex;
    width: 480px;
    height: 478px;
    margin: 0 auto;
}


.futuring_need_people {
    display: flex;
    justify-content: space-between;
    margin: 96px 0 48px;
}

.one_need_people {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
}

.one_need_people > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #004759;
    width: 48px;
    height: 48px;
    background: #F7F8F9;
    border-radius: 100%;
}

.one_need_people > p {
    margin-top: 24px;
    font-weight: 200;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #222222;
}

/*two*/
.two_need_people {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
}

.two_need_people > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #004759;
    width: 48px;
    height: 48px;
    background: #F7F8F9;
    border-radius: 100%;
}

.two_need_people > p {
    margin-top: 24px;
    font-weight: 200;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #222222;
}

/*three*/

.three_need_people {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
}

.three_need_people > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #004759;
    width: 48px;
    height: 48px;
    background: #F7F8F9;
    border-radius: 100%;
}

.three_need_people > p {
    margin-top: 24px;
    font-weight: 200;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #222222;
}


.futuring_sadari_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle_futuring_logo {
    margin: 48px 0 48px;
}

.futuring_sadari_wrap span{
    margin-bottom: 120px;
    font-weight: 200;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #222222;
}
.futuring_list_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.futuring_list_wrap span {
    margin: 120px 0 120px;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #222222;

}
.futuring_middle_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.futuring_middle_list .futuring_yiyong_button{
    margin: 120px 0 115px;
}